/*myStyle.css*/
/*Author : Sekhar Kolli*/

.topPadding30px {
	padding-top: 90px;
}

body {
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 90;
    height: 100%;
    width: 100%;
/*    background-image: url(https://images.unsplash.com/photo-1454702762838-a6df8cc3517f?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);*/
/*    background-image: url(https://images.unsplash.com/uploads/141273952449798e153d6/53d2aeda?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);*/
    
}

.singlePageBackground {
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0;
    height: 100%;
    width: 100%;
}